* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #232323;
}

header h1{
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    cursor:grab;
    margin-right: auto;
    transition: all 0.3s ease 0s;
}

header h1:hover{
    color: #165B33;
}

li, a{
    background: #121212;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 4%;
    background-color: #121212;
}

nav{
    background: #121212;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    background: #121212;
    display: inline-flex;
}

.nav_links li a{
    background: #121212;
    font-weight: 200px;
    padding: 5px;
    border-width: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    background-color: #165B33;
    border-radius: 20px;
    color: #000;
}

.Invite a{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 20%;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
    padding-left: 25px;
    padding-right: 25px;
    transition: all 0.2s ease 0.1s;
}

.Invite a:hover{
    border: none;
    border-radius: 25px;
    background-color: #165B33;
    color: #fff;
}

.GIF_Logo{
    margin-left: 45%;
    display: inline-flexbox;
    width: 70px;
}

.GIF_Logo P{
    text-align: center;
    margin-left: 75%;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    transition: all 0.1s ease 0.1s;
}

.GIF_Logo p:hover{
    color: #ff3636;
}

.GIF_Logo img{
    width: 150px;
    border-radius: 10px;
    transition: all 0.2s ease 0.1s;
}

.GIF_Logo img:hover{
    border-radius: 25px;
}

.GIF_Logo{
    border: 1px solid #232323;
}

.GIF_Logo img{
    display: block;
    margin: 0 auto;
}
